* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
}

/* ----- Nav Bar ----- */

.container-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: white;
    .navLeft {
        padding: 1em 0;
        margin-right: 10em;
        .logo {
            font-family: "Fredoka One", cursive;
            font-size: 25px;
            text-decoration: none;
        }
    }
    .navRight {
        display: flex;
        .nav-link {
            color: black;
            text-decoration: none;
            position: relative;
            &:hover {
                color: red;
                &:after {
                    transform: scaleY(1);
                }
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 3px;
                transform: scaleY(0);
                background-color: dodgerblue;
                transition: transform 0.2s;
            }
        }
    }
    .navRightButtons {
        display: flex;
        margin-left: 5em;
        .navSearch {
            position: relative;
            input {
                border: 1px solid rgb(141, 141, 141);
                border-radius: 30px;
                padding: 10px 20px;
                width: 100%;
                outline: none;
            }
            .fa-search {
                position: absolute;
                top: 15px;
                right: 25px;
                cursor: pointer;
            }
        }
        .favorite {
            margin-left: 1em;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid rgb(141, 141, 141);
            color: red;
            font-size: 19px;
            cursor: pointer;
            &:hover {
                color: white;
                background-color: black;
            }
        }
        .shopping {
            margin-left: 1em;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid rgb(141, 141, 141);
            color: #007bff;
            font-size: 19px;
            cursor: pointer;
            outline: none;
            &:hover {
                color: white;
                background-color: black;
            }
        }
        .buttonSign {
            margin-left: 1em;
            margin-top: 0.2em;
            .btn {
                border-radius: 30px;
                padding: 10px 30px;
                margin-left: 0.5em;
                &:hover {
                    background-color: black;
                }
            }
        }
    }
}

.modal-body {
    input {
        margin-left: 1em;
        outline: none;
    }
}
